//@import "animate.min.css";
//font-family: 'Fira Sans', sans-serif;
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,500,700&subset=cyrillic,latin);

@font-face {
  font-family: 'MerriweatherItalic';
  src: url('../fonts/MerriweatherItalic.eot');
  src: url('../fonts/MerriweatherItalic.eot') format('embedded-opentype'),
  url('../fonts/MerriweatherItalic.woff2') format('woff2'),
  url('../fonts/MerriweatherItalic.woff') format('woff'),
  url('../fonts/MerriweatherItalic.ttf') format('truetype'),
  url('../fonts/MerriweatherItalic.svg#MerriweatherItalic') format('svg');
}

html, body {
  height: 100%;
  position: relative;
}

body {

}

body {
  @media screen and (max-width: $screen-sm-min) {
    font-size: 10px;
  }
}

h1, h2, h3, h4, h5, .nav {
  font-family: 'Fira Sans', sans-serif;
  color: black;
}

input, a, button, textarea, .btn {
  &:focus,
  &:active {
    outline: none;
  }
}

*:hover {
  //transition: background-color 0.5s ease, color 0.5s ease,  color 0.2s ease, color 0.2s ease;
  //transition: color 0.5s ease, color 0.5s ease;
}

.relative {
  position: relative;
}

.white-color {
  color: white;
}

.black-color {
  color: black;
}

.white-bg {
  background-color: white;
}

.brand-color {
  color: $brand-primary;
}

.red-color {
  color: #dd2e25;
}


.medium {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

.no-margin-top {
  margin-top: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.block-centered {
  margin: 0 auto;
}

.no-before {
  &::before {
    display: none;
  }
}
.btn-lg {
  line-height: 3.571em;
  padding: 0;
  font-size: $font-size-base;
}

.section-header {
  text-align: center;
  font-weight: 500;
  h2 {
    font-size: 3em;
  }
  @media screen and (max-width: $screen-sm-min) {
    font-size: 7px;
  }
}

.parallax-block {
  background-color: transparent;
}
.animated{
  opacity: 0;
  &.visible{
    opacity: 1;
  }
}
.bg-block{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}
.spacer{
  padding-top: 100%;
}