.navbar-default {
  border: none;
  font-weight: 500;
  .navbar-brand {
    min-width: 10.3em;
    margin-right: 1.7em;
    background: url("../img/logo.png") no-repeat 50%;
  }

  .nav-justified {
    padding-right: 0;
    padding-left: 0;
    white-space: nowrap;

    li {
      &:hover,
      &.active {
        background-color: #000f41;
        a {
          color: white;
        }
      }
      &.red-nav {
        background-color: $brand-warning;
        a {
          color: white;
        }
        &:hover,
        &.active {
          background-color: $brand-warning;
        }
      }
    }
    a {
      text-transform: uppercase;
      color: black;

      &:hover,
      &:focus {
        background-color: transparent;
        color: white;
      }
      span {
        display: inline-block;
      }

    }
  }
  $skew-positive: skewX(14deg);
  $skew-negative: skewX(-14deg);
  @media screen and (min-width: $screen-sm-min) {
    li {
      -webkit-transform: $skew-negative;
      -moz-transform: $skew-negative;
      -o-transform: $skew-negative;
      transform: $skew-negative;
      &::after {
        content: "/";
        display: inline-block;
        position: absolute;
        top: 50%;
        left: -3px;
        -webkit-transform: $skew-positive;
        -moz-transform: $skew-positive;
        -o-transform: $skew-positive;
        transform: $skew-positive;
      }
      &:nth-last-child(1)::after, &:nth-child(1)::after {
        display: none;
      }
    }
    a {
      span {
        -webkit-transform: $skew-positive;
        -moz-transform: $skew-positive;
        -o-transform: $skew-positive;
        transform: $skew-positive;
      }
    }
  }
  @media screen and (min-width: $screen-sm-max) {
    a {
      padding: 0;
      height: $navbar-height;
      line-height: $navbar-height;
    }
  }
}

.header {
  font-family: 'Fira Sans', sans-serif;
  margin-top: $navbar-height;
  background: url("../img/header-bg-hires.jpg") no-repeat center;
  background-size: initial;
  @media screen and (max-width: $screen-sm-max) {
    background: url("../img/header-bg-lowres.jpg") no-repeat center;
    background-size: cover;
  }
  min-height: 50em;
  .main-header {
    margin-top: 1em;
  }
  .header-manifest {
    margin-top: 3.8em;
  }
  h1 {
    font-size: 3.6em;
  }
  .characters {
    color: white;
    direction: rtl;
    padding-right: 15px;
    margin-top: .7em;
    li {
      padding-bottom: .5em;
      font-size: 1.2em;
    }
  }
  .form-header {
    padding: .1em 1.5em 2em;
  }
  input {
    line-height: 3.571em;
    padding: 0;
    width: 100%;
  }
  input[type="text"] {
    padding-left: 3em;
    border: 1px solid lightgray;
  }
  input[name="name"] {
    background: white url("../img/icons/input-ava.png") no-repeat 3% center;
  }
  input[name="phone"] {
    background: white url("../img/icons/input-phone.png") no-repeat 3% center;
  }
  .input-wrapper {
    margin-bottom: 1.3em;
  }
}