#parallax-1 {
  background: url("../img/parallax-on-bg-hires.jpg") 50% 0 no-repeat fixed;
  @media screen and (max-width: $screen-phone) {
    background: url("../img/parallax-on-bg-lowres.jpg") center no-repeat fixed;
  }
  min-height: 28.6em;
  margin: 0 auto;
  width: 100%;
  position: relative;
  padding-top: 3.5em;
}

#action {
  background: url("../img/action1-bg.jpg") 50% 0 no-repeat;
  margin: 0 auto;
  position: relative;
}
#action1 {
  background: url("../img/action2-bg.jpg") 50% 0 no-repeat ;
/*  @media screen and (max-width: $screen-sm-max) {
    background: url("../img/parallax-3-bg-lowres.jpg") center repeat fixed;
  }*/
  margin: 0 auto;
  position: relative;
}
