//BLOCK-2
.why-section {
  background: url("../img/why-bg-hires.jpg");
  background-size: initial;
  @media screen and (max-width: $screen-sm-max) {
    background: url("../img/why-bg-lowres.jpg");
  }
  padding-top: 3.4em;
  padding-bottom: 3em;
  .why-wrapper {
    margin-top: 4em;
  }
  .why-group {
    position: relative;
    list-style: none;
    padding-left: 7em;
    li {
      min-height: 15em;
      position: relative;
      &.order-now {
        padding-top: 3em;
      }
      i {
        line-height: 1.8;
      }
      &::before {
        position: absolute;
        content: "";
        width: 5em;
        height: 5em;
        top: 0;
        left: -7em;
        background-size: 100%;
      }
      &.planet {
        &::before {
          background: url("../img/why-planet.png") no-repeat center;
        }
      }
      &.hard {
        &::before {
          background: url("../img/why-mechanical.png") no-repeat center;
        }
      }
      &.style {
        &::before {
          background: url("../img/why-palitra.png") no-repeat center;
          background-size: 100%;
        }
      }
      &.gift {
        &::before {
          background: url("../img/why-gift.png") no-repeat center;
        }
      }
      &.unique {
        &::before {
          background: url("../img/why-rain.png") no-repeat center;
        }
      }
    }
    .btn-lg {
      width: 100%;
      margin-top: 1.4em;
    }
  }
}

.parralax-one {
  .section-header {
    margin-bottom: 3.4em;
  }

  @media screen and (max-width: $screen-sm-min) {
    font-size: 7px;
  }
  .sat-unit {
    width: 12em;
    height: 12em;
    margin: 0 auto;
    background: url("../img/satisfaction-bg.png") no-repeat center;
    background-size: 100%;

    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    h3 {
      text-align: center;
      margin: 0;
      line-height: .7;
      font-size: 2em;
    }
  }
  .light {
    font-size: 80%;
  }
}

//BLOCK-2END