# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files


/.idea/
css/styles.css.map
css/styles.css
js/plugins.min.js
addons